n8n workflow/Agricultural AI Assistant with Multi-Model Prediction and Advisory System with webhook.json
{
  "name": "Agricultural AI Assistant with Multi-Model Prediction and Advisory System",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "27a6baab-ccf6-4be9-b76f-a88e9753df06",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2400,
        624
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "oibpTC3fw88SoIht",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "70f9180b-f6b6-4652-874b-627cb2339892",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2528,
        624
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Agri Intel — an advanced agricultural AI assistant powered by Gemini LLM.\nYour primary responsibility is to answer any query related to agriculture and provide farmer-friendly, accurate, and actionable guidance.\n\nYou are connected to multiple ML and DL models through tools that perform the following tasks:\n\n🔹 1. Crop Yield Prediction Tool - Predicts crop yield based on inputs like rainfall, soil type, humidity, temperature, fertilizer, irrigation level, NPK values, pH, region, season, crop variety, etc.\n\n🔹 2. Crop Recommendation Tool - Recommends best crops to grow based on soil nutrients (NPK), rainfall, pH, land size, season, temperature, region.\n\n🔹 3. Fertilizer Recommendation Tool - Recommends required fertilizers and quantities based on crop type, soil NPK, pH, soil type, moisture.\n\n🔹 4. Market Price Prediction Tool - Predicts future price range or trend based on crop, region/district, market, date.\n\n🔹 5. Pest Prediction Tool - Predicts pest risk levels based on temperature, humidity, rainfall, crop stage, soil moisture, region.\n\n🔹 6. Plant Disease Detection Tool - Detects plant diseases from uploaded images using a DL CNN model trained on PlantVillage dataset.\n\n🧠 YOUR BEHAVIOR & INSTRUCTIONS:\n\n1️⃣ ALWAYS answer agriculture-related queries - No matter what the user asks about crops, soil, irrigation, fertilizers, pests, diseases, climate, farming techniques — you MUST give a detailed, accurate, and practical answer.\n\n2️⃣ Convert all ML/DL model outputs into meaningful guidance - When any tool returns predictions, you must:\n   • Understand the raw output\n   • Convert technical results into simple advice\n   • Give clear action steps\n   • Provide improvement suggestions\n   • Give risk warnings & solutions\n   • Offer low-cost & organic alternatives when possible\n\n3️⃣ If user gives manual inputs → interpret + guide - If user enters soil values, weather, crop details, or pest symptoms, you must understand the context, answer directly, and guide them like an agriculture expert.\n\n4️⃣ Provide practical farming solutions - All responses must include:\n   • Actionable steps\n   • Region/season-based suggestions (if info available)\n   • Simple language\n   • Data-backed reasoning\n   • Organic + low-cost alternatives\n   • Safety precautions\n   • Yield or profit improvement methods\n\n5️⃣ No technical ML language - The user should NEVER see internal ML/DL details, model names, hyperparameters, etc. Only practical agricultural advice.\n\n🌱 TONALITY & RESPONSE STYLE:\n   • Clear and beginner-friendly\n   • Highly practical — focused on real actions farmers can take\n   • Structured using bullet points when helpful\n   • Optimized for mobile and UI display\n   • Adapted to the crops, soil, and region mentioned by the user\n   • Supportive and expert-like (behave like an agriculture advisor)\n\n📘 PRIMARY OBJECTIVE:\nYour mission is to improve crop productivity, minimize risk, and guide farmers with intelligent, data-backed recommendations for Indian and global farming needs."
        }
      },
      "id": "81fa8dcb-466f-4130-bac4-4c0038f3a4c1",
      "name": "Agri Intel Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2776,
        400
      ]
    },
    {
      "parameters": {
        "toolDescription": "Predicts crop yield based on inputs like rainfall, soil type, humidity, temperature, fertilizer, irrigation level, NPK values, pH, region, season, crop variety. Returns yield estimate and related metrics.",
        "method": "POST",
        "url": "http://localhost:8000/api/predict-yield/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI(\"crop_yield_input\", \"JSON object containing: rainfall, soil_type, humidity, temperature, fertilizer, irrigation_level, nitrogen, phosphorus, potassium, ph, region, season, crop_variety\", \"json\") }}",
        "options": {}
      },
      "id": "816d2c10-4c3f-4f02-bead-ad674d2c7644",
      "name": "Crop Yield Prediction Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2656,
        624
      ]
    },
    {
      "parameters": {
        "toolDescription": "Recommends best crops to grow based on soil nutrients (NPK), rainfall, pH, land size, season, temperature, region. Returns recommended crops.",
        "method": "POST",
        "url": "http://localhost:8000/api/recommendations/combined/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI(\"crop_recommendation_input\", \"JSON object containing: nitrogen, phosphorus, potassium, rainfall, ph, land_size, season, temperature, region\", \"json\") }}",
        "options": {}
      },
      "id": "1f03747f-f6f4-42c0-8157-5e2bae1ee5bf",
      "name": "Crop Recommendation Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2784,
        624
      ]
    },
    {
      "parameters": {
        "toolDescription": "Recommends required fertilizers and quantities based on crop type, soil NPK, pH, soil type, moisture. Returns fertilizer recommendations.",
        "method": "POST",
        "url": "http://localhost:8000/api/recommendations/combined/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI(\"fertilizer_input\", \"JSON object containing: crop_type, nitrogen, phosphorus, potassium, ph, soil_type, moisture\", \"json\") }}",
        "options": {}
      },
      "id": "f98df300-836e-4f13-af90-b191097a713d",
      "name": "Fertilizer Recommendation Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2912,
        624
      ]
    },
    {
      "parameters": {
        "toolDescription": "Predicts future price range or trend based on crop, region/district, market, date. Returns price predictions.",
        "method": "POST",
        "url": "http://localhost:8000/api/predict-market-price/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI(\"market_price_input\", \"JSON object containing: crop, region, district, market, date\", \"json\") }}",
        "options": {}
      },
      "id": "a795828a-9d80-477d-8ff1-ba83e63a260c",
      "name": "Market Price Prediction Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3040,
        624
      ]
    },
    {
      "parameters": {
        "toolDescription": "Predicts pest risk levels based on temperature, humidity, rainfall, crop stage, soil moisture, region. Returns pest risk assessment.",
        "method": "POST",
        "url": "http://localhost:8000/api/predict-pest/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $fromAI(\"pest_prediction_input\", \"JSON object containing: temperature, humidity, rainfall, crop_stage, soil_moisture, region\", \"json\") }}",
        "options": {}
      },
      "id": "83692273-6044-4a26-af1b-175fa204263f",
      "name": "Pest Prediction Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3168,
        624
      ]
    },
    {
      "parameters": {
        "toolDescription": "Detects plant diseases from uploaded images using a DL CNN model trained on PlantVillage dataset. Returns disease classification.",
        "method": "POST",
        "url": "http://localhost:8000/api/disease/predict/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $fromAI(\"plant_image\", \"Base64 encoded image or image URL of the plant showing disease symptoms\", \"string\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d32ac01e-156c-4ab4-90e2-2bfc51e50c4f",
      "name": "Plant Disease Detection Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3296,
        624
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agri-intel-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6ddaee07-2aac-4acb-bd31-476a8d3668df",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1744,
        304
      ],
      "webhookId": "858a8c4b-0159-475f-81a4-ae711d9f38ed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "chatInput",
              "value": "={{ $json.body.message || $json.body.query || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId || $json.body.session_id || \"default-session\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "713e0104-3dea-454f-92e0-d535d6597626",
      "name": "Format Webhook Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output, \"sessionId\": $json.sessionId } }}",
        "options": {}
      },
      "id": "21e4d65c-0d16-41de-9453-ca1248dcc343",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3504,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Crop Yield Prediction Tool": {
      "ai_tool": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crop Recommendation Tool": {
      "ai_tool": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fertilizer Recommendation Tool": {
      "ai_tool": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Market Price Prediction Tool": {
      "ai_tool": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pest Prediction Tool": {
      "ai_tool": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Plant Disease Detection Tool": {
      "ai_tool": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Webhook Data": {
      "main": [
        [
          {
            "node": "Agri Intel Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agri Intel Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "186aaaf6-6fca-47cd-9025-a02eba9d5625",
  "meta": {
    "instanceId": "861a2af58c72f0dc4c9984058867964f18ef19bb3e485ee1f3b5c79d9671383f"
  },
  "id": "BYc7Wtb5KYZWanNh",
  "tags": []
}